@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gloria Hallelujah";
}

body {
  background: linear-gradient(
    90deg,
    rgba(0, 164, 255, 0.8379726890756303) 10%,
    rgba(255, 255, 255, 0.4290091036414566) 100%
  );
}

.title {
  text-align: center;
  margin: 50px 0;
  font-size: 48px;
  text-transform: uppercase;
  color: #fafafa;
  text-shadow: -2px 2px 1px #000;
}

.card-header {
  font-weight: bold;
}

.card-body {
  font-size: 15px;
}

.card-title {
  font-size: 15px;
}

.card-title span {
  font-weight: bold;
}

.container {
  background-color: yellowgreen;
  height: 650px;
}

.rounded {
  height: 100%;
  box-shadow: -2px -2px 10px black;
}

#agendarCitas {
  height: 555px;
  overflow-y: auto;
}

#agendarCitas::-webkit-scrollbar {
  -webkit-appearance: none;
}

@media (max-width: 766px) {
  .citas {
    margin-top: 30px;
  }
}